body{background:#e8e8e8;color:#444;font-family:Arial;font-size:16px}
header{background:#444;color:#fff;overflow:hidden;padding:.5em;position:relative;}
header .logo{border-right:1px solid #22bce0;float:left;width:60px;}
header .logo img{width:52px}
header .titular{margin:0 60px 0 70px;}
header .titular .filtro{color:#22bce0;font-size:14px;font-style:italic;font-weight:bold;text-decoration:none}
header .titular .publicar{background:#dd4f24;color:#fff;float:right;font-style:italic;margin:-5px 1em 0 0;padding:.2em .5em;text-decoration:none;text-shadow:1px 1px 0 #000}
header .titular .titulo{font-size:18px;font-weight:normal;margin:0;padding:0}
header .usuario{position:absolute;right:10px;top:10px;}
header .usuario .avatar{margin:0 1em 0 0;position:relative;z-index:2;}
header .usuario .avatar img{width:50px;border-radius:50%}
header .usuario .flechita{background:#dd4f24;color:#fff;display:block;padding:3px;position:absolute;right:0;top:15px;text-align:right;width:50%;z-index:0}
nav{background:#22bce0;}
nav .menu{height:40px;line-height:40px;margin:0;padding:0;overflow-x:auto;white-space:nowrap;}
nav .menu li{display:inline-block;}
nav .menu li a{color:#fff;display:block;margin:0 .5em;padding:0 .2em;text-decoration:none}
